<div class="container">
    <ul class="breadcrumb">
        <li><a href="#/start">首页</a></li>
        <li>详情</li>
    </ul>

    <div>
        <div class="panel">
            <div class="panel-heading">
                <h2 ng-bind="dish.name"></h2>
            </div>
            <div class="panel-body">
                <img ng-src="img/{{dish.img_sm}}" alt=""/>
                <p ng-bind="dish.material"></p>
                <p ng-bind="dish.price | currency:'￥'"></p>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-success" ng-click="jump('/order/'+dishId)">我要订餐</button>
                <button type="button" class="btn btn-info" ng-click="jump('/main')">回到首页</button>
            </div>
        </div>
    </div>
</div>