<div class="container">
    <input type="text" placeholder="请输入菜品名称" ng-model="kw" class="form-control"/>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="i in dishList">
            <a href="#/detail/{{i.did}}">
                <div class="media">
                    <div class="media-left">
                        <img ng-src="img/{{i.img_sm}}" alt=""/>
                    </div>
                    <div class="media-body">
                        <h1 ng-bind="i.name"></h1>
                        <p ng-bind="i.material"></p>
                        <p ng-bind="i.price | currency:'￥'"></p>
                    </div>
                </div>
            </a>
        </li>
    </ul>
    <button type="button" class="btn btn-success btn-block" ng-show="hasMore" ng-click="loadMore()">加载更多</button>
    <p ng-hide="hasMore" class="well-lg text-center text-info">没有更多数据可以加载</p>
</div>